@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.gradient-text {
  @apply bg-blue-to-purple inline-block text-transparent bg-clip-text;
}

.border-gradient-horizontal {
  border-image: linear-gradient(to right, #3d8bff, #ab23ff) 1;
}

.border-gradient-vertical {
  border-image: linear-gradient(to top, #3d8bff, #ab23ff) 1;
}

.hexagon-gradient-border {
  border-style: dashed;
  border-width: 1px;
  border-image: linear-gradient(to right, #3d8bff, #ab23ff) 1;
}

.button-gradient-border {
  @apply bg-blue-to-purple text-white font-semibold rounded p-1;
}

.button-gradient-border span {
  @apply flex w-full bg-grey-dark text-white rounded p-2;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ab23ff transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ab23ff;
  border-radius: 10px;
}
